.carousel-item{
    height: 95vh;
    min-height: 300px;
    background: scroll no-repeat center;
    -webkit-background-size:cover ;
    background-size: cover;
}
.carousel-item::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
}
.carousel-caption1{
    bottom: 230px;
}
.CourseHead{
    text-align: center;
}
.CoursePera{
    color: #848383;
    font-size: 15px;
}
.company-img a{
    margin-left: 35px;
}
.company-img a img{
    width: 115px;
}
.student-titel{
    font-size: 10px;
    color: #a7a6a6;
}
.modal1{
    padding: 30px;
    margin-top: 1rem;
}
.information-about1{
    background-color: #f6f9fa;
}